@font-face {
    font-family: "Poppins700";
    src: url(../../assets/fonts/Poppins/Poppins-Bold.ttf);
}
@font-face {
   font-family: "Manrope500";
    src: url(../../assets/fonts/Manrope/static/Manrope-Medium.ttf);
}

@font-face {
    font-family: "Poppins400";
    src: url(../../assets/fonts/Poppins/Poppins-Regular.ttf);
}
@font-face {
    font-family: "Poppins600";
    src: url(../../assets/fonts/Poppins/Poppins-SemiBold.ttf);
}

@font-face {
   font-family: "Manrope800";
    src: url(../../assets/fonts/Manrope/static/Manrope-ExtraBold.ttf);
}

@font-face {
    font-family: "Poppins500";
    src: url(../../assets/fonts/Poppins/Poppins-Medium.ttf);
}

@font-face {
    font-family: "Poppins200";
    src: url(../../assets/fonts/Poppins/Poppins-ExtraLight.ttf);
}

@font-face {
    font-family: "Poppins300";
    src: url(../../assets/fonts/Poppins/Poppins-Light.ttf);
}


@font-face {
  font-family: "Manrope400";
  src: url(../../assets/fonts/Manrope/static/Manrope-Regular.ttf);
}















.InfoText1{

    font-size: 26px;
   font-family: "Manrope500";
    color:#161616;
    letter-spacing: 1.5px;
    



}

.InfoText2{

    font-size: 14px;
    font-family: "Poppins400";
    color:#343131;
    margin-top: 20px;
    line-height: 2.2;
}

.InfoText3{

    font-size: 14px;
    font-family: "Poppins400";
    color:#161616;
    margin-top: 20px;
    line-height: 2.2;
}

.ContactSection{

    margin-left: 49%;
    margin-top: 9%;
    
}

.ContactInfos{

    display: flex;
    gap: 40px;
    text-align: left;
}

.InfoText4{

    font-size: 26px;
   font-family: "Manrope500";
    color:#161616;
    letter-spacing: 1.5px;
    margin-top: 30px;
    



}

.ContactMini{
    width: 92%;
    height: 25%;
    padding: 16px 10px;
    border: 1px solid #e1e2e3;
}

.ContactBig{
        width: 92%;
   
    padding: 126px 10px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #e1e2e3;


    
}

.ContactBtn{

    color:white;
    background-color: #161616;
    padding: 9px 52px;
    font-size: 14px;
    font-family: "Poppins400";
}

.ContactEmailSection {
    margin-top: 15px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
    gap: 15px; 
}








@media (max-width: 1440px) {
  .ContactSection {
    margin-left: auto;
    margin-right: auto;
    width: 80%;
  }

  .ContactInfos {
    gap: 30px;
  }
}

@media (max-width: 1024px) {
  .ContactSection {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
  }

  .ContactInfos {
    flex-direction: column;
    gap: 20px;
  }

  .ContactMini, .ContactBig {
    width: 100%;
  }

  .ContactBig {
    padding: 80px 10px;
  }
}

@media (max-width: 768px) {
  .ContactSection {
    margin-top: 12%;
  }

  .InfoText1, .InfoText4 {
    font-size: 22px;
  }

  .ContactBig {
    padding: 60px 10px;
  }

  .ContactBtn {
    padding: 8px 36px;
    font-size: 13px;
  }
}

@media (max-width: 450px) {
  .ContactSection {
    width: 95%;
    margin-top: 15%;
  }

  .InfoText1, .InfoText4 {
    font-size: 18px;
  }

  .InfoText2, .InfoText3 {
    font-size: 12px;
  }

  .ContactBig {
    padding: 40px 10px;
  }

  .ContactBtn {
    padding: 8px 28px;
    font-size: 12px;
  }
}



