.sliderContainer {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-top: 20px;
}

.sliderWrapper {
  display: flex;
  gap: 20px;
  overflow-x: auto; 
  width: 100%;
  max-width: 900px; 
  scroll-behavior: smooth; 
}

.sliderWrapper > * {
  flex-shrink: 0; 
  max-width: 200px; 
}


.arrowLeft,
.arrowRight {
  background: none;
  border: none;
  font-size: 28px;
  color: black;
  cursor: pointer;
  transition: transform 0.2s ease;
}

.arrowLeft:hover,
.arrowRight:hover {
  transform: scale(1.2);
}

.arrowLeft:disabled,
.arrowRight:disabled {
  color: #ccc;
  cursor: not-allowed;
}
